#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#btn-container{
    text-align: center;
}
.btn{
    padding: 10px 20px;
    font-size: 1.5em;
    color: azure;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.btn:hover{
    background-color: rgb(40, 82, 82);
}
